@{
    Layout = null;
}

<!DOCTYPE html>

<html>
<head>
    <meta name="viewport" content="width=device-width" />
    <title>Index</title>
</head>
<body>

    <h3>EL ACTO DE LA PAGACION</h3>
    <br>
    <a asp-controller="Home" asp-action="index">Volver al fockin inicio porque la pagina de pagar está en desarrollo</a>
</body>
</html>
