
.vs/HardwareShop/v15/Server/sqlite3/storage.ide-wal
.vs/HardwareShop/v15/Server/sqlite3/storage.ide
.vs/HardwareShop/v15/Server/sqlite3/storage.ide-shm
.vs/HardwareShop/v15/Server/sqlite3/db.lock
.vs/HardwareShop/v15/.suo
.vs/HardwareShop/DesignTimeBuild/.dtbcache
.vs/config/applicationhost.config
.vs/HardwareShop/v15/.suo
.vs/HardwareShop/v15/.suo
